/*banner*/
#index .banner.b1{border-top: 1px solid #d7d7d7;margin-top: 14px}
#index .banner.b1 .carousel div{height: 420px;background-position: center;background-repeat: no-repeat}
/*section a*/
#index .a .text-white{position: absolute;top: 40px;text-align: center;width: 100%;left: 0;}
#index .a img{width: 100%}
#index .a li{padding-bottom: 20px}
#index article h2{font-weight: bold;margin: 20px 0 12px}
@media (min-width: 760px){
	#index article h2{font-size: 1.714em;margin: 30px 0 22px;}
	#index article .profile{font-size: 18px;line-height: 30px;margin-bottom: 22px;font-weight: 100}
	#index .a .text-white h3{font-size: 1.714em;margin-bottom: 12px}
	#index .a .text-white p{font-size: 1.14286em;}
	#index .a .text-white{top: 50px}
}
/*section b*/
#index .b{margin-top: 15px;position: relative;}
#index .b .b-bg{background-position: center;background-repeat: no-repeat;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;height: 554px;position: relative;}
#index .b .b-bg-r{position: absolute;top: 0;right: 0;height: 100%;width: 100%;background-color: rgba(35,45,51,.95);padding:30px 15px}
#index .b .b-bg-r h3{color: #da251d;font-size:2.4286em;font-weight: bold;}
#index .b .b-bg-r h4{font-size:1.57143em;padding:4px 0 10px;border-bottom: 3px solid #da251d;margin-bottom: 14px;font-weight: bold;}
#index .b .b-bg-r p{line-height: 28px}
#index .b-b{position: absolute;left: 15px;bottom: 5%;color: #7f7f7f;font-size: 34px;}
#index .b-b i{margin:0 7px;cursor: pointer;}
@media (min-width: 450px){
	#index .b .b-bg-r{padding: 92px 34px 34px}
	#index .b-b{left: 34px}
}
@media (min-width: 760px){
	#index .b .b-bg-r p{font-size: 16px;}
	#index .b .b-bg-r{width: 48.5%;max-width: 436px}
	#index .b-b{left: 409px}
}
@media (min-width: 1000px){
	#index .b-b{left: 578px}
}
@media (min-width: 1200px){
	#index .b-b{left: 778px}
}
/*section c*/
#index .c ul{padding-top: 15px}
#index .c a:hover,#index .c a:focus{color: #333;}
#index .c h4{padding: 15px 0 4px}
#index .c h3{padding: 4px 0 6px}
@media (min-width: 760px){
	#index .c p{padding-right: 15px}
}
/*section d*/
#index .d{background-color: #f5f5f5}
#index .d .line-big{padding-top: 20px}
#index .d .d1 h4{padding:0 25px 0 18px;font-size: 16px;font-weight: 100;line-height: 28px;color:#666 }
#index .d .d1 li{margin-bottom: 25px;}
#index .d .d1 h2{margin-bottom: 28px}
#index .d .date{background-color:#81878f;padding: 4px 6px;margin-top: 4px}
#index .d .date p{margin: 0;color: #fff;line-height: 1}
#index .d .date .m{font-size: 10px;padding-top: 6px}
#index .d .date .text-center{font-size: 28px;}
#index .d .new-title{width: 80%;}
#index .d .d2 a,#index .d .d3 a{display: block;}
@media (min-width: 450px){
	#index .d .new-title{width: 83%}
}
@media (min-width: 760px){
	#index .d .new-title{width: 660px}
}
@media (min-width: 1000px){
	#index .d .new-title{width: 250px}
	#index .d .d2 a,#index .d .d3 a{padding:0 25px;}
	#index .d .d2{border-width: 0 1px 0 1px;border-style:solid;border-color:  #e7e7e7}
}
@media (min-width: 1200px){
	#index .d .new-title{width: 310px}
}


#index .d .d2 a:hover,#index .d .d2 a:focus,#index .d .d3 a:hover,#index .d .d3 a:focus{color: #333;}
#index .d .d2 p,#index .d .d3 p{font-size: 18px;line-height: 30px}
/*section e*/
#index .e{margin-top: 12px}