article p{font-size: 16px;}
.pos-r{position:relative}
.banner_inside{height:420px}
.sec_title{padding:15px 0 14px;text-align:center}
.sec_title h2{padding:0 0 8px 0}
.sec_title p{margin:0 auto;max-width:48em}
.text-millgreen{color:#507a01}
@media (min-width:760px){.sec_title{padding:30px 0 28px}
.sec_title h2{padding:0 0 17px 0;font-size:24px}
.sec_title p{font-size:18px;line-height:31px}
}
.breadcrumb{padding-top:15px}
.breadcrumb i{padding-right:6px}
.breadcrumb a{font-size:18px}
.inside_list{font-size:16px}
.inside_list_title{padding:20px 0}
.inside_list_title span,.inside_list_title span a{color:#7c7c7c}
.inside_list_title span a:hover{color:#d40000}
.inside_list .img_list a{color:#333}
.inside_list .img_list h2{padding:14px 0 7px}
.inside_list .img_list h2:hover{color:#d40000}
.inside_list .img_list p{padding-top:14px}
.inside_list .img_list span{color:#555}
.inside_list_title .h1,.inside_list_title h1{font-size:26px}
.inside_list_title h1 span{float:none;padding:0;color:#333;font-weight:100}
@media (min-width:760px){.inside_list_title{padding:28px 0 24px}
.breadcrumb{padding-top:30px}
.inside_list_title .h1,.inside_list_title h1{float:left}
.inside_list_title span{float:right;padding-top:8px}
.inside_list .img_list h2{padding:7px 0 3px}
.inside_list .img_list p{padding-top:6px}
}
@media (min-width:1000px){.inside_list .img_list h2{padding:14px 0 12px}
.inside_list .img_list p{padding-top:15px}
}
@media (min-width:1200px){.inside_list .img_list h2{padding:14px 0 20px}
.inside_list .img_list p{padding-top:37px}
}
.text_list .date-l div{padding:15px 0;background-color:#d40000;color:#fff}
.text_list .date-l span{font-weight:700;font-size:36px}
.text_list .date-l p{margin:0;font-size:12px}
.text_list a{color:#333}
.text_list .list_title span{color:#555}
.text_list .xl12 h2:hover{color:#d40000}
.text_list .xl12 p:hover{color:#d40000}
.text_list .list_title{padding-bottom:6px}
.text_list li{padding-bottom:30px}
@media (min-width:1000px){.text_list .date-l span{line-height:1}
.text_list .date-l p{padding-top:6px;line-height:1}
.text_list .date-l{width:100px;height:80px}
.text_list .date-l div{padding:12px 0}
.text_list .xl12{width:900px}
.text_list .list_title h2{float:left}
.text_list .list_title span{float:right}
.text_list .list_title{padding-bottom:8px;border-bottom:1px dotted #999}
.text_list .xl12 p{margin:7px 0 0}
.text_list li{padding-bottom:45px}
}
@media (min-width:1200px){.text_list .date-l{width:110px}
.text_list .list_title{padding-bottom:17px}
.text_list .xl12{width:1090px}
.text_list .xl12 p{line-height:32px}
.text_list li{padding-bottom:32px}
}
.pager,.pager-l{margin:22px 0 52px}
@media (min-width:760px){.pager-l{margin:22px auto 52px;max-width:500px}
}
.pager span{display:block;margin:10px 0;font-size:16px}
.pager-l .pagination a,.pager-l .pagination li{border-radius:0}
.pager-l .pagination li a.active,.pager-l .pagination li a:hover{background-color:#d40000;color:#fff}
.pager-l .pagination{margin:0 5px}
.pager-l span{line-height:36px}
.news_group{padding-top:25px}
.news_group .title-float,.news_industry .title-float{position:absolute;top:10px;left:35px;z-index:1;font-weight:700;font-size:24px}
.news_group .title-float a,.news_industry .title-float a{display:block;padding:19px 24px;width:100px;background-color:#d40000;color:#fff}
.news_group .more{margin-bottom:14px;color:#555;font-size:18px}
.news_group .more .icon{padding-right:10px}
.news_group .carou{position:relative}
.news_group .carou img{width:100%}
.news_group .carou h3{position:absolute;bottom:0;overflow:hidden;padding:0 25px;width:100%;height:49px;background-color:rgba(0,0,0,.5);color:#fff;line-height:49px}
.news_group .pointer .l,.news_group .pointer .r{position:absolute;top:50%;display:block;margin-top:-25px;width:50px;height:50px;background-color:rgba(0,0,0,.5);color:#fff;font-size:48px;line-height:50px;cursor:pointer}
.news_group .pointer .l{left:0}
.news_group .pointer .r{right:0}
.news_group_r li{margin-bottom:10px}
.news_group_r a{display:block;padding:15px 20px;background-color:#f6f6f6;color:#555}
.news_group_r h4{padding-bottom:5px;color:#333;font-weight:700}
.news_group_r h4 span{display:inherit;color:#555;text-align:right;font-weight:initial;font-size:14px}
.news_group_r a p{margin:0}
.news_group_r .active a{background-color:#d40000;color:#fff}
.news_group_r .active a h4,.news_group_r .active a span{color:#fff}
@media (min-width:760px){.news_group_r h4 span{float:right;display:block}
}
@media (min-width:100px){.news_group{padding-top:40px}
}
@media (min-width:1200px){.news_group_r a{padding:23px 20px}
.news_group_r h4{padding-bottom:10px}
}
@media (max-width:999px){.news_group_r{padding-top:30px}
}
.news_industry{padding-top:30px}
.news_industry .title-float{top:-25px;right:20px;left:auto}
.news_industry_padding{padding:24px 15px 12px}
.news_industry_padding h4{padding-bottom:7px}
.news_industry_padding a p{margin:0;color:#555}
.news_industry_ul{padding:0 0 30px}
.news_industry_ul li{float:left;padding:14px 20px;width:50%}
.news_industry_ul li a{display:block;height:45px;border:1px solid #ccc;text-align:center;line-height:45px}
.news_industry_ul li a:hover{border-color:#d40000}
@media (min-width:760px){.news_industry{padding-top:77px}
.news_industry_padding{padding:24px 20px 12px}
}
@media (min-width:1000px) and (max-width:1199px){.news_industry_padding{padding:25px 0 10px 20px}
.news_industry_ul li{padding:8px 20px}
}
@media (min-width:1200px){.news_industry_padding{padding:50px 0 31px 34px}
.news_industry_padding h4{padding-bottom:14px}
.news_industry_ul{padding:0 0 36px 14px}
}
.news_spec{margin-top:60px;padding-bottom:63px;background-color:#f1f1f1}
.news_spec .container{position:relative}
.news_spec h2,.news_weekly h2{padding:30px 0 22px;font-size:24px}
.news_spec .banner{position:inherit}
.news_spec .carousel img,.news_weekly .xm4 img,.news_weekly li img{display:block;width:100%;height:auto}
.news_spec .carousel h4{padding:24px 0 10px}
.news_spec .carousel p{color:#555}
.news_spec .carousel li{padding:0 10px}
.news_spec .carousel li a{display:block;padding:20px 15px;background-color:#fff}
.news_spec .pointer{bottom:-55px}
.news_spec .pointer li{margin:0 2px;width:12px;height:12px;border:0;background-color:#8e8e8e}
.news_spec .pointer .active{background-color:#c2c2c2}
@media (min-width:760px){.news_spec .pointer li{margin:0 9px}
}
@media (min-width:1200px){.news_spec .carousel li{padding:0 15px}
}
.news_weekly{padding-bottom:32px}
.news_weekly .xm4 img{padding-bottom:30px}
.news_weekly li{float:left;padding:0 10px 20px;width:50%}
.news_weekly h4{padding:14px 0 5px}
.news_weekly h4,.news_weekly p{color:#555;text-align:center}
@media (min-width:760px){.news_weekly li{width:20%}
}
@media (min-width:1200px){.news_weekly li{padding:0 15px}
}
.spec_list a{color:#3a3a3a}
.spec_list h5{padding:12px 0 8px}
.spec_list p{padding:7px 0 20px;font-size:14px}
@media (min-width:1200px){.spec_list p{padding:7px 0 30px}
}
.weekly_title_l{float:left;color:#2b2b2b}
.weekly_title_l h2{padding:15px 0 0;font-weight:100;font-size:27px}
.weekly_title_l .date{padding-top:18px}
.weekly_title_l a{color:#d40000}
.weekly_title_l .date .b{padding:0 14px}
.weekly_title_r{float:right;padding-top:33px}
@media (min-width:452px){.weekly_title_l h2{padding:15px 0 0 20px;font-weight:100;font-size:27px}
}
@media (min-width:760px){.weekly_title_l{padding-bottom:50px}
}
.last_weekly a{color:#3a3a3a}
.last_weekly h2:hover,.last_weekly span{color:#d40000}
.last_weekly .h2{padding:12px 0}
.last_weekly h2{padding-bottom:18px}
@media (max-width:450px){.last_weekly .xl5,.last_weekly .xl7{width:100%}
}
@media (min-width:1200px){.last_weekly .h2{padding:14px 0 22px}
.last_weekly h2{padding-bottom:25px}
}
.weekly_list{padding-top:30px}
.weekly_list img{margin-bottom:8px;padding:0 10px 8px 0;-webkit-box-shadow:5px 5px 3px #EBEBEB;-moz-box-shadow:5px 5px 3px #EBEBEB;box-shadow:5px 5px 3px #EBEBEB}
.weekly_list p{font-size:14px}
.weekly_list .phase{font-size:12px}
.weekly_list li{padding-bottom:15px}
@media (min-width:301px) and (max-width:450px){.weekly_list li{float:left;width:50%}
}
@media (min-width:760px){.weekly_list{padding-top:45px}
}
@media (min-width:1200px){.weekly_list{padding-top:60px}
}
.cont_head{float:left;padding-bottom:16px;color:#999}
.cont_head time,.view_num{padding-left:5px}
.font_s{padding-right:5px}
.font-bigger{padding-right:5px}
.font-normal{padding-right:7px}
.cont_head sup{font-family:微软雅黑;cursor:pointer}
.font-bigger,.font-normal,.font-smaller{cursor:pointer}
.cont_head li{display:inline-block;padding-right:10px}
.inside_list h1{padding:14px 0 28px}
.go_back{float:right;padding-bottom:16px}
.go_back i{padding-left:12px;color:#d40000}
.cont p{margin-bottom:16px;text-indent:2em;line-height:32px}
.cont img{display:block;margin:0 auto;padding:16px 0 32px;max-width:100%}
@media (min-width:760px){.cont_head li{padding-right:20px}
.cont_head,.go_back{padding-bottom:26px}
}
@media (min-width:1000px){.cont_head li{padding-right:32px}
}
.cont_pager{margin-bottom:33px;border:1px dotted #ccc;background-color:#eaeaea;text-align:center;line-height:60px}
.cont_pager a{overflow:hidden;white-space:nowrap}
.cont_pager span{position:relative;display:block;width:80px;background-color:#dbdbdb;color:#333}
.cont_pager .pre span{float:left}
.cont_pager .next span{float:right}
@media (min-width:1000px){.cont_pager .pre{border-right:1px solid #ccc}
}
.banner_con{padding:80px 0 0 0;width:670px;max-width:100%}
.banner_con h1{padding-bottom:15px;line-height:1.5}
@media (min-width:760px){.banner_con h1{font-size:32px}
.banner_con p{font-size:18px;line-height:32px}
.banner_con{padding:114px 0 0 52px;width:670px;max-width:100%}
}
.server_specialist{padding-top:11px}
.server_specialist li{margin-bottom:20px;padding:0 10px;text-align:center}
.server_specialist li a{display:block;padding-top:6px;width:120px;height:120px;border-radius:50%;background-color:#e6e6e6;-webkit-transition:all .4s;-moz-transition:all .4s;transition:all .4s}
.server_specialist li i{font-size:36px;cursor:default}
.server_specialist li p{margin:0 auto;width:4em}
@media (max-width:759px){.server_specialist ul{display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:center}
}
@media (min-width:760px){.server_specialist li i{font-size:44px}
.server_specialist li{float:left;width:20%}
.server_specialist li a{width:130px;height:130px}
}
@media (min-width:1000px){.server_specialist li i{font-size:60px}
.server_specialist li a{padding-top:18px;width:180px;height:180px}
}
@media (min-width:1200px){.server_specialist li{margin-bottom:20px;padding:0 15px}
.server_specialist li a{padding-top:21px;width:210px;height:210px}
.server_specialist li p{padding-top:1px;font-size:18px;line-height:28px}
}
.server_specialist li a:hover{background-color:#d40000;color:#fff}
.appointment{margin:0 auto;max-width:372px;text-align:center}
.appointment a{float:left;display:block;width:186px;max-width:50%}
.appointment a span{display:block;margin:0 11px;height:40px;line-height:40px}
.appointment .specialist span{border:1px solid #d0d0d0}
.appointment .specialist span:hover,.appointment .visit span{border-color:#d40000;background:#d40000;color:#fff}
.server_list{padding-top:32px}
.server_list ul{padding-top:7px}
.server_list li{padding-bottom:20px}
@media (min-width:1200px){.server_list li{padding-bottom:30px}
}
.server_list li a{color:#3a3a3a;cursor:default}
.server_list li p{cursor:pointer}
.server_list li h3{margin:24px 0 7px;cursor:pointer}
.server_activity a,.server_list li span{display:block;margin-top:13px;width:148px;height:30px;border:1px solid #d0d0d0;color:#d40000;text-align:center;line-height:28px;cursor:pointer}
.server_list li h3:hover,.server_list li p:hover{color:#d40000}
.server_activity a:hover,.server_list li span:hover{border-color:#d40000;background-color:#d40000;color:#fff}
.server_activity{background-color:#f5f5f5}
.server_activity .line-big{padding:16px 0 14px}
.server_activity h2{padding-bottom:8px}
.server_activity h4{padding-bottom:8px;font-weight:inherit}
.server_activity span{display:inherit;padding:7px 0 10px}
.server_activity a{margin:0 0 30px;width:177px}
@media (min-width:760px){.server_activity h2{padding:18px 0 12px}
}
@media (min-width:1200px){.server_activity .line-big{padding:33px 0 28px}
.server_activity h2{padding:40px 0 18px}
.server_activity h4{padding-bottom:16px}
.server_activity span{padding:14px 0 23px}
}
.server_h2{padding:11px 0 6px;font-size:24px}
#solution .strength ul{margin:20px 0}
#solution .strength ul li{margin-top:20px;padding:0 10px}
@media (max-width:759px){#solution .strength ul{display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:center}
#solution .strength ul li{width:132px}
}
@media (min-width:760px){#solution .server_h2p{font-size:16px;line-height:32px}
.server_h2{padding:22px 0 13px;font-size:30px}
#solution .strength ul{margin:10px -15px}
#solution .strength ul li{float:left;margin-top:30px;padding:0 15px;width:14.2857%}
}
#solution .strength ul li i{display:block;overflow:hidden;margin:0 auto 7px;width:55px;height:50px;background:url(../img/server/strength.png) no-repeat;vertical-align:middle;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;-ms-transition:all .5s ease}
#solution .strength .e2 i{width:48px;background-position:-55px 0}
#solution .strength .e3 i{width:53px;background-position:-104px 0}
#solution .strength .e4 i{width:50px;background-position:-157px 0}
#solution .strength .e5 i{width:50px;background-position:-207px 0}
#solution .strength .e6 i{width:34px;background-position:-257px 0}
#solution .strength .e7 a{display:block;margin:0 auto;width:100$;height:76px;background-color:#dbdbdb;line-height:76px}
#solution .strength .e7 span{font-size:18px}
#solution .application .list-inline li{margin:10px 0 15px;padding:0 15px 0 0}
#solution .application .list-inline a{padding:0 2px;border-bottom:2px solid #aac180;color:#507a01;font-size:16px}
#solution .application .list-inline a span{font-size:24px}
#solution .application .banner{margin-bottom:40px}
#solution .application .banner h4,#solution .application .banner p{color:#3a3a3a}
#solution .application .banner h4{padding:13px 0 7px}
#solution .application .banner h4:hover{color:#d40000}
#solution .application .banner .pager-next,#solution .application .banner .pager-prev{margin-top:-60px}
#solution .application .banner .pointer{bottom:75px}
.application .materials li{float:left;display:block;padding:0 10px 20px;width:50%}
.application .mate_list h3{padding-bottom:12px}
@media (min-width:760px){#solution .application .list-inline li{margin:12px 0 31px;padding:0 42px 0 0}
.application .mate_list a{font-size:16px}
#solution .application .banner .pointer{bottom:75px}
#solution .application .banner .pager-next,#solution .application .banner .pager-prev{margin-top:-60px}
.application .mate_list h3{font-size:26px}
.application .materials li{width:25%}
}
.application li.mate_list{padding-bottom:8px;width:100%}
@media (min-width:1000px){.application .materials li{width:20%}
.application .mate_list a{float:left;display:block;width:30%}
}
@media (min-width:1200px){.application .materials li{padding:0 15px}
.application .mate_list h3{padding-bottom:7px}
.application .mate_list a{float:left;display:block;width:30%;line-height:32px}
}
#solution .case img{display:none;padding-bottom:30px}
#solution .case .panel{padding:10px 2px;border:0;border-radius:0}
#solution .case .panel .panel-head{padding-bottom:0;border:0;background-color:transparent;cursor:pointer}
#solution .case .panel .panel-body{padding-top:5px}
#solution .case .panel h4{font-weight:100;font-size:18px}
#solution .case .active{padding:15px 2px;background-color:#80ae28}
#solution .case .active h4{color:#fff;font-weight:600}
#solution .case .active a{color:#fff;line-height:23px}
@media (min-width:760px){#solution .case img{padding-bottom:39px}
}
#solution .more{display:block;background-color:#f4f5f7;color:#649900;line-height:100%}
#solution .product li{margin:10px 0}
#solution .more i{font-size:50px}
#solution .more p{padding-top:10px;font-weight:700;font-size:24px}
@media (min-width:1200px){#solution .product li{margin:15px 0}
}
#solution .parts{margin-top:30px;padding-bottom:15px}
#solution .first div{padding:0 10px 10px;background-color:#f4f5f7;color:#555}
#solution .first h2{padding:12px 0 5px}
#solution .first a{display:block;margin:12px 0 0;width:31px;height:30px;background-color:#649900;color:#fff;text-align:center;font-size:25px;line-height:28px}
#solution .parts li{position:relative;margin-bottom:20px}
#solution .parts_name{position:absolute;bottom:0;left:0;display:block;padding:0 10px;width:100%}
#solution .parts_name p{width:100%;background-color:rgba(0,0,0,.66);color:#fff;text-align:center;line-height:39px}
@media (min-width:760px){#solution .first a{margin:0}
#solution .first h2{padding:26px 0 10px}
#solution .first div{padding:0 20px 30px}
}
@media (min-width:1200px){#solution .parts_name{padding:0 15px}
}
.parts_intro{padding:3px 0 16px}
.parts ul img{width:100%}
.parts ul p{padding:16px 0 28px;text-align:center}
.s_list h1{padding-bottom:7px;font-size:24px}
.s_list .inside_list_title{padding:12px 0 0}
.s_list .inside_list_title span{display:block;padding:2px 0 8px}
.s_list h2{padding:25px 0 10px}
.s_list p{line-height:28px}
.s_list .breadcrumb{padding-top:36px}
@media (min-width:760px){.s_list h1{padding-bottom:17px}
.s_list .inside_list_title span{display:inline;padding:21px 0 5px}
}
.map img{margin:0 auto}
@media (min-width:1000px){.network .map{margin-top:-44px}
}
.network_contact{margin-top:21px;background-color:#dc343a;color:#fff}
.network_contact .l h3{padding:27px 30px 8px}
.network_contact .l p{padding:2px 30px 5px}
.network_contact .r p{padding-top:21px;font-weight:700}
.network_contact .r{margin:24px 26px;padding:23px;border:1px solid #fff}
.network_contact .r{padding:15px 18px}
.network_contact h2{position:relative;padding-top:54px}
.network_contact h3{padding-bottom:10px}
.network .contact{margin-top: 30px;}
.network_contact li{float:left;padding:6px 2px 12px;width:50%;min-width:155px;font-weight:100;font-size:14px}
@media (min-width:760px){.network_contact .l h3{padding:27px 0 14px 58px}
.network_contact .l p{padding:3px 0 45px 58px}
.network_contact .r p{font-size:18px}
}
@media (min-width:1200px){.network_contact li{min-width:230px;font-size:18px}
}
.support .a{margin-bottom:21px}
.support .a li{margin:26px 0 11px;color:#fff}
.support .a li h4{padding-bottom:12px;font-size:24px}
.support .intro{position:relative;padding:27px 35px 47px;transition:all .1s}
.support .intro.gray .call,.support .intro.gray:hover,.support .intro.red,.support .intro.red:hover .call{background-color:#db1000}
.support .intro.gray,.support .intro.gray:hover .call,.support .intro.red .call,.support .intro.red:hover{background-color:#81878f}
.support .call{position:absolute;right:0;bottom:0;width:106px;height:39px;color:#fff;text-align:center;font-size:24px;line-height:39px}
.support .a_4 .clearfix{padding-top:28px}
.support .a_4 .clearfix a{float:left;display:block;width:100%;color:#fff;text-decoration:underline;line-height:28px}
@media (min-width:430px){.support .a_4 .clearfix a{width:50%}
}
@media (min-width:1000px){.support .a li div{height:285px}
}
@media (min-width:1200px){.support .a_4 .clearfix a{width:33.33333%}
.support .a li div{height:271px}
}
.support .call i:before{transform:rotate(-45deg)}
.support .b{padding-top:9px;background-color:#f5f5f5}
.support .b h2{padding-bottom:17px;font-size:24px}
.support .b ul{margin-top:25px}
.support .b li{padding-bottom:30px}
.support .b li div{height:196px;background-color:#ebebeb}
.support .first div{overflow:hidden}
.support .b li span{display:block;padding:25px 0 10px;text-align:center;font-size:50px}
.support .b li p{padding:0 25px;font-size:14px;line-height:24px}
@media (min-width:1000px) and (max-width:1199px){.support .b li span{padding:15px 0 8px}
}
@media (min-width:606px) and (max-width:999px){.support .first img{width:100%}
}
.support .c{padding-top:45px}
.support .c h5{color:#5b5b5b;font-size:16px}
.support .c h2{padding-top:10px;font-size:24px}
.support .c h3{padding-bottom:8px;color:#da251d;font-size:20px}
.support .c h3 [class*=icon-]:before{padding-right:15px;font-size:30px}
.support .c_2{margin-top:32px;margin-bottom:10px;font-size:14px;line-height:24px}
.support .c_2 li{margin-bottom:30px}
.support .c_3{margin-bottom:15px;color:#454444}
.support .c_3 h5{font-size:18px}
.support .c_3 h5 span{color:#db1000;font-size:50px}
.support .c_3 p{padding-top:3px;padding-bottom:15px}
.support .c_3{display:flex;flex-flow:wrap;justify-content:center}
@media (min-width:600px){.support .c_3 .h24{border-color:#e3e3e3;border-style:solid;border-width:0 1px}
.support .c_3{margin-bottom:30px}
}
@media (min-width:760px){.support .c_2{display:flex;flex-flow:wrap;justify-content:center}
.support .c_3 h5{font-size:26px}
.support .c_3 h5 span{color:#db1000;font-size:70px}
.support .c_3 p{padding-bottom:30px;font-size:22px}
}
.train .a ul{text-align:center}
.train .a ul li{margin-top:14px;margin-bottom:6px}
.train .a ul div{height:116px;border:1px solid #b8b8b8;transition:all .3s}
.train .a ul div:hover{border-color:#929292;background-color:#929292}
.train .a ul div:hover h3{padding-bottom:5px;color:#fff}
.train .a ul div:hover p{color:#fff;font-weight:700;font-size:18px}
.train .a ul h3{padding-top:30px;padding-bottom:5px;color:#ef011c}
@media (min-width:1200px){.train .a ul li{margin-top:17px;margin-bottom:11px}
}
.train .b .icon{display:block;margin:0 auto;margin-bottom:6px;width:77px;height:77px;border-radius:50%;background-color:#ff454c;color:#fff;vertical-align:middle;text-align:center;font-size:48px;line-height:72px}
.train .b li{margin-bottom:24px}
.train .b_1{margin-bottom:30px}
.train .c{background:#e5e5e5}
#server .train .c h2{padding:38px 0 32px}
.train .c .m_b{margin-bottom:10px}
.train .c_2{margin-top:22px}
.train .c .clearfix{margin-bottom:20px}
@media (min-width:1200px){.train .c .clearfix{margin-bottom:30px}
}
.train .c_3r{padding:10px 0}
.train .c_3r2{margin-left:12px}
@media (min-width:606px){.train .c_3l,.train .c_3r{float:left;width:50%}
.train .c_3r{padding:10px}
}
@media (min-width:1000px) and (max-width:1199px){.train .c_3l{width:40%}
.train .c_3r{width:60%}
}
.train .c_4 img{padding-bottom:20px}
.train .d img{display:block;margin:0 auto 13px;max-width:100%}
.train .d p{padding-bottom:14px;color:#575757}
#server .train .d h2{padding:19px 0 18px}
@media (min-width:760px){.train .d img{margin:0 auto 27px}
#server .train .d h2{padding:38px 0 36px}
}
#server .train .e h2{padding-bottom:8px}
.train .e li a{display:block;margin:12px 0;height:40px;border:1px solid #d0d0d0;text-align:center;font-size:20px;line-height:38px;transition:all .3s}
.train .e ul{margin:11px 0}
@media (min-width:630px){.train .e ul{margin:16px -10px 20px}
.train .e li{float:left;padding:0 10px;width:33.3333%}
}
@media (min-width:1000px){.train .e ul{margin:22px -13px 29px;max-width:915px}
.train .e li{float:left;padding:0 13px;width:33.3333%}
}
.train .e li a:hover{background-color:#ef011c;color:#fff}
.repair .line-big label{display:inline-block}
.repair .line-big{padding:10px 0 29px}
.repair .form-group{padding-bottom:15px}
.repair .button,.repair .input{border-color:#888686}
.repair select.input{background-color:#fff}
.repair .product{line-height:32px}
.repair .product label{font-weight:100}
.repair .product span{padding:0 8px 22px}
.repair .time .button,.repair .type .button{margin-bottom:5px;width:100%;text-align:center}
.repair .time,.repair .type.form-group{padding-bottom:10px}
.repair .reset,.repair .submit{float:left;height:41px}
.repair .submit .button{border-color:#f4502d;background-color:#f4502d;color:#fff}
.repair .time .button-group{width:100%}
@media (max-width:759px){.repair .form-button{margin-right:-10px;margin-left:-10px}
.repair .reset,.repair .submit{padding:0 10px;width:50%}
.repair .reset button,.repair .submit button{width:100%}
}
@media (min-width:264px){.repair .time .button{width:50%}
}
@media (min-width:388px){.repair .type .button{width:50%}
}
@media (min-width:491px){.repair .time .button{width:25%}
}
@media (min-width:760px){.repair .input{border-radius:2px}
.repair .form-x .form-group .label{width:12%}
.repair .form-x .form-group .field{width:88%}
.repair .type .button{width:33.33333333%}
.repair .line-big label{font-weight:100;font-size:16px}
.repair .reset button,.repair .submit button{width:160px}
.repair .submit{margin-right:36px}
.repair .form-button{margin-left:12%;padding-left:6px}
}
@media (min-width:1000px){.repair .form-x .form-group .label{width:18%}
.repair .form-x .form-group .field{width:82%}
.repair .type .button{padding:6px 10px;width:inherit}
.repair .line-big{padding-top:15px}
.repair .form-group{padding-bottom:31px}
.repair .time,.repair .type.form-group{padding-bottom:26px}
.repair .form-x .form-group.xm12 .label{width:8.816%}
.repair .form-x .form-group.xm12 .field{width:91.184%}
.repair .form-button{margin-left:8.816%;padding-left:7px}
.repair .time .button{width:50%}
}
@media (min-width:1200px){.repair .form-x .form-group .label{width:15%}
.repair .form-x .form-group .field{width:85%}
.repair .type .button-group{width:100%}
.repair .type .button{padding:6px 15px;width:20%}
.repair .time .button{padding:6px 0;width:25%}
.repair .form-x .form-group.xm12 .label{width:7.308%}
.repair .form-x .form-group.xm12 .field{width:92.692%}
.repair .form-button{margin-left:7.308%;padding-left:11px}
}
#server .upkeep h2{padding:37px 0 25px;font-size:24px}
#server .upkeep .fix h2,#server .upkeep .install h2{padding:22px 0 25px}
#server .upkeep h2 small{font-size:18px;opacity:1}
.upkeep{padding-bottom:32px}
.upkeep ol{padding-left:2em}
.upkeep p{padding-bottom:10px}
.upkeep h4{padding-bottom:12px}
.upkeep .bg{margin-top:30px;padding-bottom:32px}
.upkeep .bg h3{margin-bottom:10px}
.upkeep .fix ol{padding-left:26px;list-style-type:decimal-leading-zero}
.upkeep .fix li{padding:0 10px 0 5px}
.upkeep li{margin-bottom:10px;font-size:16px;line-height:28px}
.upkeep h3{font-weight:100}
.upkeep .panel.active h3{color:#ef011c;font-weight:700}
.upkeep .getall a,.upkeep .getpdf a{display:block;margin:20px 0 0;width:100%;height:40px;max-width:365px;text-align:center;line-height:38px}
.upkeep .getpdf a{float:right}
.upkeep .getpdf a{border:1px solid #d0d0d0;background-color:#fff}
.upkeep .getpdf a span{color:#ef011c}
.upkeep .getall a{background-color:#ef011c;color:#fff}
@media (min-width:760px){.upkeep .fix ol{padding-left:29px}
.upkeep .getall,.upkeep .getpdf{float:left;padding:0 16px;width:50%}
}
@media (min-width:1000px){.upkeep .getall,.upkeep .getpdf{font-size:20px}
}
.solu h2{padding:10px 0 20px}
.solu .ap li{margin-bottom:24px;text-align:center}
.solu .ap li p{display:block;margin-top:10px;height:46px;border:1px solid #cfcfcf;line-height:44px}
.solu .cas li,.solu .mat li{margin-bottom:20px}
.solu .cas li a{position:relative;display:block;width:100%}
.solu .cas li p{position:absolute;bottom:0;display:block;width:100%;height:34px;background-color:#ef011c;color:#fff;line-height:34px;opacity:.8}
.solu .mo a{display:block;width:100%;background-color:#EF011C;color:#fff}
.solu .mo div{position:absolute;top:34%;width:100%}
@media (min-width:450px){.solu .mo div{top:28%}
}
@media (min-width:550px){.solu .mo div{top:32%}
}
@media (min-width:650px){.solu .mo div{top:35%}
}
@media (min-width:1000px){.solu .mo div{top:33%}
}
.solu .mo a h4{padding-bottom:14px;font-size:20px}
.solu .mo a h5{font-size:14px}
.solu .mo a span{font-weight:100}
.solu .lin h3{padding:9px 0 12px;font-weight:100}
.solu .lin li a{display:block;margin-bottom:17px;width:100%;height:46px;border:1px solid #cfcfcf;line-height:46px}
.solu .mat h2{padding:20px 0}
.solu .img-scale{border-radius:50%}
.solu .sca a{position:relative;display:block;overflow:hidden;border-radius:50%;background:#fff;z-index:1;}
.solu .sca p{position:absolute;bottom:-120px;display:block;padding-top:12px;width:100%;height:170px;border-radius:50%;background-color:#030303;color:#fff;opacity:.8;-moz-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;transition:all .3s ease 0s;-ms-transition:all .3s ease 0s}
.solu .sca:hover p{background-color:#ef011c;color:#FFF;opacity:1}
.solu .mor a{position:relative;display:block;width:100%;border-radius:50%;background-color:#ef011c;color:#FFF}
.solu .mor div{position:absolute;top:36%;width:100%}
.solu .mor i{font-size:36px;-moz-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;transition:all .3s ease 0s;-ms-transition:all .3s ease 0s}
.solu .mor:hover i{font-size:50px}
.solu .link{margin:20px 0 64px}
.solu .link h4{display:inline;color:#ef011c}
@media (min-width:1200px){.solu .mat h2{padding:20px 0 30px}
.solu .cas li,.solu .mat li{margin-bottom:30px}
.solu .mor div{top:28%;}
}


.sec-nav ul{width: 100%;background-color:hsla(0,0%,100%,.68);bottom:0}
.sec-nav li{width: 49%;height: 34px;overflow: hidden;}
.sec-nav a{display: block;padding: 7px 0;color: #333;-moz-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;transition:all .3s ease 0s;-ms-transition:all .3s ease 0s;text-align: center;}
.sec-nav .active a,.sec-nav a:hover{font-size: 18px;padding: 12px 0;}
@media (min-width: 450px){
	.sec-nav li{width:24%;}
}
@media (min-width: 760px){
	.sec-nav li{width:13.8%;height: 48px;}
	.sec-nav div{position: relative;}
	.sec-nav ul{position: absolute;height: 48px;}
	.sec-nav a{padding: 14px 0}
}
@media (min-width: 1000px){
	.sec-nav ul{padding: 0 30px;}
}

#about .a_title{position: relative;display: block;width: 4em;margin: 0 auto;font-size: 34px;color: #474747;padding-bottom: 26px;margin-bottom: 21px;}
#about .a_p{line-height: 32px;margin: 4px 0 22px;color: #848383}
#about .a_title:after{height: 3px;overflow: hidden;background-color: #d43341;left: 50%;bottom: 0;position: absolute; content: "";-webkit-transition: all 0.3s ease;transition: all 0.3s ease;margin-left: -25%;width: 50%;}
#about .a_title:hover:after{margin-left: -50%;width: 100%;}
.abo .pos {position: relative;color: #fff}
.abo .pos div{opacity: .9;position: absolute;width: 100%;height: 100%;top: 0;padding: 30px 0 0;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
.abo .pos h3{font-size: 30px;text-align: center;}
.abo .pos h4{font-size: 18px;text-align: center; margin: 5px 0 0;}
.abo .pos p{font-size: 14px;color: transparent;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
.abo .pos:hover div{background-color: #d43341;}
.abo .a ul li{margin-bottom: 20px;}
@media (min-width: 1000px){
	.abo .pos h3{font-size: 24px}
	.abo .pos h4{font-size: 16px}
	.abo .pos h4{ margin: 5px 0 5px;}
	.abo .pos div{padding: 20px 20px 0;}
	.abo .pos:hover p{color:#fff}
}
@media (min-width: 1200px){
	.abo .pos h3{font-size: 30px;}
	.abo .pos h4{ margin: 5px 0 20px;}
	.abo .pos div{padding: 40px 45px 0;}
	.abo .pos:hover p{color:#fff}
	.abo .a_p{margin: 4px 0 44px;}
	.abo .a ul li{margin-bottom: 38px;}
}

.abo .b ul{text-align: center;margin-top: 20px;}
.abo .b li{margin-bottom: 20px;}
.abo .b_w p{font-size: 20px;margin-top: 23px;}
.abo .b_bg{height: 118px;background-color: #fef5f6;padding-top: 22px;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
.abo .b_bg i{display: block;width: 71px;height: 75px;margin: 0 auto;background-image: url(../img/about/index_b.png);-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
.abo .b_2{background-position:-71px 0}
.abo .b_3{background-position:-142px 0}
.abo .b_4{background-position:-213px 0}
@media (max-width: 449px){
#about h1.a_title{margin-top: 20px;}
.abo .b li{width: 50%;float: left;}
}
@media (min-width: 1200px){
	.abo .b_w{max-width: 163px}
	.abo .b ul{margin-top: 42px;}
	.abo .b li{margin-bottom: 40px;}
}
.abo .b .b_w:hover .b_bg{background-color: #fceced}
.abo .b .b_w:hover .b_1{background-position:0 -75px}
.abo .b .b_w:hover .b_2{background-position:-71px -75px}
.abo .b .b_w:hover .b_3{background-position:-142px -75px}
.abo .b .b_w:hover .b_4{background-position:-213px -75px}
.abo .c{margin-top: 10px;}
.abo .d{margin-top: 33px;padding-bottom: 30px;}
@media (min-width: 1200px){
	.abo .c{margin-top: 30px;}
	.abo .d{margin-top: 66px;}
}
@media (max-width: 759px){
	.abo .d .l{background-color: #e44251}
}
@media (max-width: 999px) and (min-width: 760px){
	.abo .d .l div{background-color: #e44251}
	.abo .d .l img{margin: 0 auto}
}
@media (max-width: 999px){
	.abo .d .l img{margin: 0 auto}
}
.abo .d .r h3{font-size: 32px;margin:20px 0 5px}
.abo .d .r p{color: #848383;line-height: 30px;}
#about .history-dot{width: 19px;height: 19px;border-radius: 50%;display: block;border:6px solid #e8e8e8;position: absolute;background-color: #fff;cursor: pointer;}
#about .active .history-dot{border-color: #ef8c19}
.abo .year div{position: relative;padding: 10px 0;margin: 10px 0}

.abo .year p{margin: 12px 0;cursor: pointer;}
@media (max-width: 759px){
	.abo .year{display: none}

}
@media (min-width: 760px){
	.abo .d .r{margin: 0 0 40px}
	.abo .d .r li{display: none;}
	.abo .d .r li.active{display: block;}
	.abo .year span{left: 88px;bottom: 50px}
	.abo .year div{border-top: 1px solid #f3f3f3}
}
@media (min-width: 1000px){
	.abo .d .r{margin: 0}
	.abo .d .r h3{margin: 0 0 8px;}
	.abo .d .r p{line-height: 37px;}
	.abo .d .year {padding-top: 50px;}
	.abo .year span{left: 118px;}
}
@media (min-width: 1200px){
	.abo .d .r h3{font-size: 48px;}
	.abo .d .r p{line-height: 47px;padding-left: 8px;}
	.abo .d .year {padding-top: 123px;}
	.abo .year span{left: 142px;bottom: 60px}
	.abo .year div{padding-top: 20px;}
	.abo .d{padding-bottom: 50px;}
	.abo .d .line-big{margin-top: 60px;}
}
.hon .tab {margin-bottom:24px ;}
.hon .tab span{font-size: 16px;color: #bbb;display: inline-block;cursor: pointer;border:2px solid #bbb;font-weight: bold;padding: 5px 10px;margin-right: 32px; }
.hon .tab span.active{color: #333;cursor:context-menu;}
.hon .pos_a{position: relative;}
.hon .pos_a img{width: 100%}
.hon .pos_b{cursor: pointer;text-align: center;}
.hon .pos_b i{display: none;}
.hon .pos_b h4{margin: 10px 0 20px}
@media (min-width: 1000px){
	.hon .pos_b i{display: inline;}
	.hon .pos_a{position: relative;}
	.hon .pos_b{-webkit-transition: all 0.3s ease;transition: all 0.3s ease;opacity: 0}
	.hon .pos_a:hover .pos_b{opacity: 1}
	.hon .pos_b{position: absolute;top: 0;width: 100%;height: 100%;background-color: rgba(212,61,61,.85);color: #fff;}
	.hon .pos_b i:before{font-size: 31px;padding: 50px 20px 10px;border-bottom: 1px solid #fff}
	.hon .pos_b h4{font-size: 20px;margin: 30px 0 0;}
}
@media (min-width: 1200px){
	.hon .pos_b i:before{padding: 70px 20px 10px;}
	.hon .pos_b h4{font-size: 24px;margin-top: 20px;}
}
.hon .dialog-mask,.rese .dialog-mask{display: none}

#b_img{position:fixed;top: 50px;display: none;width: 100%;z-index: 10;}
#b_img img{max-width: 100%;padding: 20px;margin: 0 auto;display: block;}
#about h1.b_title{font-size: 30px;margin: 30px 0 20px;}
#about h2.b_title{font-size: 24px;margin: 26px 0 15px;}
.hist {padding-bottom: 20px;}
.hist h4{font-size: 22px;margin: 10px 0 }
.hist h5{font-size: 16px;font-weight: bold;margin: 10px 0 0}
@media (min-width: 760px){
	.hist h4{margin: 27px 0 23px;}
	.hist h5{font-weight: 100;margin:0;color: #a3a3a3;position: relative;bottom: 5px}
	.hist .box p{position: relative;bottom: 8px}
	.hist .box div{float: left;}
	.hist .box .l{width: 6%;}
	.hist .box .r{width: 90%;border-left: 1px solid #a3a3a3;position: relative;padding-bottom: 10px;}
	.hist .box .r:before{content: "";display: block;position: absolute;width: 11px;height: 11px;background-color: #ff6700;border-radius: 50%;left: -6px;top:0}
	.hist .box .r p{display: block;padding: 0 30px 5px;line-height: 30px;}
}
@media (min-width: 1000px){
	.hist .box .l{width: 5%;}
	.hist .box .r{width: 95%;}
	.hist .box .r p{padding: 0 44px 5px 50px}
}
.glo .pic img{width: 100%;display: block;padding-bottom: 20px;}
.glo .pic .line-big{padding-top: 5px;}
@media (min-width: 1200px){
	.hist .box .l{width:5.556%;margin-left: 20px;}
	.hist .box .r{width: 90%;}
	.hist .box .r p{padding: 0 50px 5px 150px}
	.glo .pic img{padding-bottom: 30px;}
}
.fac{padding-bottom: 30px}
.fac .a{padding-top: 28px;}
.pic-scale-x .intr h4{font-size: 18px;padding: 10px 0 5px}
.pic-scale-x .intr h2{font-size: 20px; padding: 0 0 8px}
.pic-scale-x .intr p{color: #848383}
.pic-scale-x {margin-bottom: 20px}

.rese .intr {font-size: 16px;line-height: 26px;padding-top: 10px;}
.rese .intr h5{font-size: 16px;}
.rese .intr .direction p{color: #333}
.rese .pic-scale-x{padding-top: 20px;}
@media (max-width: 1199px){
	.pic-scale-x .img img{width: 100%;}
}
@media (min-width: 760px){
.pic-scale-x .intr div{border: #f1f1f1 solid 4px;padding:4px 30px 23px}
.rese .intr{padding-top: 0}
.rese .img{height: 223px;overflow: hidden;}
.rese .intr div{padding: 13px 28px 0;height: 223px;}
.rese .intr .direction{padding-top: 30px;}
}
@media (min-width:1000px){
.pic-scale-x .intr h4{font-size: 20px;padding:10px 0 15px}
.pic-scale-x .intr h2{font-size: 24px; padding:0 0 20px}
.pic-scale-x .intr div{padding:39px 50px 66px}
.rese .intr div{height: 302px;padding:30px 50px 0}
.rese .img{height: 302px;}
.rese .intr .direction{padding-top: 60px;}
.rese .intr h5{line-height: 36px;}
.rese .intr h2{padding-top: 12px;}
}
@media (min-width:1200px){
.pic-scale-x .img{overflow: hidden;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
.pic-scale-x .intr{-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
.pic-scale-x .img img{height: 389px;}

.pic-scale-x .img div{overflow: hidden;}
.pic-scale-x:hover .img{width:628px;}
.pic-scale-x:hover .intr{width:572px;}
.pic-scale-x:hover .xs6-left{left: 572px;}
.pic-scale-x:hover .xs6-right{right: 628px;}
.fac{padding-bottom: 50px}
.pic-scale-x .intr p{line-height: 32px;}
.pic-scale-x {margin-bottom: 36px}
.pic-scale-x .intr h4{padding:10px 0 18px}
.pic-scale-x .intr h2{padding:0 0 15px}
.pic-scale-x .intr div{padding:65px 85px 0;height: 389px;}
.rese .pic-scale-x{padding-top: 24px;}
.rese .img{height: 389px;}
.rese .intr div{padding:50px 85px 0}
.rese .intr h2{padding:20px 0 15px}
.rese .intr h4{line-height: 42px;}
.rese .intr ul{line-height: 40px;}
.rese .intr .direction{padding-top: 80px;}
}

.conta p{line-height: 34px;color: #575757}
.conta h2{margin:20px 0 10px}
.conta .text-red{display: inline-block;}
#about .conta .a_p{margin-bottom: 10px;}
.conta iframe{padding-top: 10px;}
.conta .province{width: 50%;float: left;padding-right: 8px}
.conta .city{width: 50%;float: left;padding-left: 8px;}
.conta .inq_l p{margin: 8px 0 0;}
.conta .inq_l h3{margin: 15px 0 20px;}
.conta .inq_l img{margin: 0 auto;max-width: 100%;}
.conta .inq_r{margin:20px 0 30px;}
.conta .inq_r .button{background-color: #f24a4a;color: #fff}
@media (min-width:760px){
	.conta .inq_l p{margin: 24px 0 0;}
	.conta .inq_r{margin:30px 0 50px;}
}
@media (min-width:1000px){
	.conta .inq_l img{margin: 0;}
	.conta .inq_l h3{margin: 25px 0 30px;}
}
@media (min-width:1200px){
	#about .conta .a_p{padding-bottom: 11px;}
	.conta .inq_r .form-group{margin-bottom: 16px;}
	.conta p{line-height: 44px;}
	.sale-part ul li{margin-top: 19px;}
	.conta .inq_l h3{margin: 33px 0 34px;}
}
.rese .pic div{padding-bottom: 20px;}
.rese .pic img{width: 100%}
@media (min-width:1200px){
	.rese .pic {padding-top: 24px;}
	.rese .pic div{padding-bottom: 30px;}
}
#about .rese .patent .a_p{color: #333}
.rese .patent li{line-height: 32px;font-size: 16px;word-break:break-all;
	cursor: pointer;}
.rese .patent li span{display: inline-block;color: #d40000;float: right;}
@media (max-width:999px){
.rese .patent li{clear: both;}
}
@media (min-width:760px){
	.rese .patent li{padding-bottom:10px}
}
@media (min-width:1200px){
.rese .patent{padding-bottom: 50px;}
.rese .patent ul{margin: 0 -15px}
.rese .patent li{width: 50%;float: left;padding: 0 15px;margin-bottom: 12px;}
}