.pos-r{position: relative;}
.banner_inside{height: 200px}
/*list*/
.breadcrumb{padding-top: 15px}
.breadcrumb i{padding-right: 6px}
.breadcrumb a{font-size: 18px;}
.inside_list{font-size: 16px;}
.inside_list_title{padding: 20px 0 30px}
.inside_list_title span,.inside_list_title span a{color:#7c7c7c;}
.inside_list_title span a:hover{color: #d40000}
.inside_list .img_list a{color: #333}
.inside_list .img_list h2{padding: 14px 0 7px}
.inside_list .img_list h2:hover{color: #d40000}
.inside_list .img_list p{padding-top: 14px;margin:0;}
.inside_list .img_list span{color: #555}
@media (min-width: 760px){
	.inside_list_title{padding: 33px 0 24px}
	.breadcrumb{padding-top: 30px}
	.inside_list_title h1{float: left}
	.inside_list_title span{float: right;padding-top: 8px}
	.inside_list .img_list h2{padding: 7px 0 3px}
	.inside_list .img_list p{padding-top: 6px;}
	
}
@media (min-width: 1000px){
	.inside_list .img_list h2{padding: 14px 0 12px}
	.inside_list .img_list p{padding-top: 15px;}
}
@media (min-width: 1200px){
	.inside_list .img_list h2{padding: 14px 0 20px}
	.inside_list .img_list p{padding-top: 37px;}
}
/*pagination*/
.pager,.pager-l{margin: 22px 0 52px}
@media (min-width: 760px){.pager-l{max-width: 500px;margin: 22px auto 52px}}

.pager span{display: block;margin: 10px 0;font-size: 16px;}


.pager-l .pagination li,.pager-l .pagination a{border-radius: 0}
.pager-l .pagination li a:hover,.pager-l .pagination li a.active{background-color: #d40000;color: #fff}
.pager-l .pagination{margin:0 5px}
.pager-l span{line-height: 36px}

/**new index**/
.news_group{padding-top: 25px}
.news_group .title-float,.news_industry .title-float{font-size: 24px;font-weight: bold;position: absolute;top:10px;left: 35px;z-index: 1;}
.news_group .title-float a,.news_industry .title-float a{color: #fff;display: block;padding:19px 24px;background-color: #d40000; width: 100px}
.news_group .more{font-size: 18px;color: #555;margin-bottom: 14px}
.news_group .more .icon{padding-right: 10px}
.news_group .carou{position: relative;}
.news_group .carou img{width: 100%}
.news_group .carou h3{position: absolute;bottom: 0;color: #fff;width: 100%;background-color: rgba(0,0,0,.5);height: 49px;line-height: 49px;padding: 0 25px;overflow: hidden;}	
.news_group .pointer .l,.news_group .pointer .r{font-size: 48px;background-color: rgba(0,0,0,.5);width: 50px;height: 50px;display: block;line-height: 50px;color: #fff;position: absolute;top:50%;cursor: pointer;margin-top: -25px}
.news_group .pointer .l{left: 0}
.news_group .pointer .r{right: 0}

.news_group_r li{margin-bottom: 10px}
.news_group_r a{color: #555;display: block;padding: 15px 20px;background-color: #f6f6f6}
.news_group_r h4{font-weight: bold;color: #333;padding-bottom: 5px}
.news_group_r h4 span{font-weight: initial;color: #555;font-size: 14px;display: inherit;text-align: right;}
.news_group_r a p{margin: 0;}
.news_group_r .active a{color: #fff;background-color:#d40000}
.news_group_r .active a h4,.news_group_r .active a span{color: #fff;}
@media (min-width:760px){
	.news_group_r h4 span{display: block;float: right;}
}
@media (min-width:100px){
	.news_group{padding-top: 40px}
}
@media (min-width:1200px){
	.news_group_r a{padding: 23px 20px}
	.news_group_r h4{padding-bottom: 10px}
}
@media (max-width:999px){
	.news_group_r {padding-top: 30px}
}

.news_industry{padding-top: 30px}
.news_industry .title-float{left: auto;right: 20px;top: -25px}
.news_industry_padding{padding:24px 15px 12px}
.news_industry_padding h4{padding-bottom: 7px}
.news_industry_padding a p{color: #555;margin: 0}
.news_industry_ul{padding:0px 0px 30px;}
.news_industry_ul li{width: 50%;float: left;padding: 14px 20px}
.news_industry_ul li a{display: block;height: 45px;border: 1px solid #ccc;text-align: center;line-height: 45px}
.news_industry_ul li a:hover{border-color: #d40000}
@media (min-width: 760px) {
	.news_industry{padding-top: 77px}
	.news_industry_padding{padding:24px 20px 12px}
}
@media (min-width: 1000px) and (max-width: 1199px){
	.news_industry_padding{padding:25px 0 10px 20px;}
	.news_industry_ul li{padding: 8px 20px;}
}
@media (min-width: 1200px){
	.news_industry_padding{padding:50px 0 31px 34px;}
	.news_industry_padding h4{padding-bottom: 14px}
	.news_industry_ul{padding: 0px 0 36px 14px;}
}
.news_spec{background-color: #f1f1f1;margin-top: 60px;padding-bottom: 63px;}
.news_spec .container{position: relative;}
.news_spec h2,.news_weekly h2{font-size: 24px;padding: 30px 0 22px}
.news_spec .banner{position: inherit;}
.news_spec .carousel img,.news_weekly li img,.news_weekly .xm4 img{display: block;width: 100%;height: auto;}
.news_spec .carousel h4{padding: 24px 0 10px}
.news_spec .carousel p{color: #555}
.news_spec .carousel li{padding: 0 10px}
.news_spec .carousel li a{padding:20px 15px;display: block;background-color: #fff}
.news_spec .pointer{bottom: -55px}
.news_spec .pointer li{border: 0;background-color: #8e8e8e;width: 12px;height: 12px;margin: 0 2px}
.news_spec .pointer .active{background-color: #c2c2c2;}
@media (min-width:760px){
	.news_spec .pointer li{margin: 0 9px}
}
@media (min-width:1200px){
	.news_spec .carousel li{padding: 0 15px}
}
.news_weekly{padding-bottom: 32px}
.news_weekly .xm4 img{padding-bottom: 30px}
.news_weekly li{width: 50%;float: left;padding:0 10px 20px;}
.news_weekly h4{padding: 14px 0 5px}
.news_weekly h4,.news_weekly p{color: #555;text-align: center;margin:0;}
@media (min-width:760px){
	.news_weekly li{width: 20%;}
}
@media (min-width:1200px){
	.news_weekly li{padding:0 15px}
}

/**new group**/
