
/*header*/
header .globe{padding: 0 18px 0 12px}
header .search{display: inline-block;height: 49px;line-height: 49px;width: 82px;background-color: #ef011c;color: #fff}
@media (min-width: 760px){
	header .search{height: 40px;line-height: 40px;width: 82px;}
}
/*nav*/
.logo img{float: left;}
nav .icon-navicon{margin-top: 20px;}
nav .line{padding-top: 10px;}
@media (max-width:294px ){
	.logo .img2{display: none;}	
}
@media (max-width:450px ){
	.logo .img3{display: none;}	
}
@media (max-width:999px) and (min-width: 760px){
	.logo .img3{display: none;}	
}
@media (min-width: 760px){
	nav.container{margin-top: -15px;}
	nav .nav-inline{text-align: right;margin: 26px -10px 0}
	nav .nav-inline li a {padding: 5px 10px;}
}
@media (min-width: 1000px){
	nav.container{margin-top: -19px;}
	nav .nav-inline{margin: 39px -13px 0;font-size: 16px;}
	nav .nav-inline li a {padding: 5px 13px;}
}
@media (min-width: 1200px){
	nav .nav-inline{margin: 39px -21px 0;font-size: 18px;}
	nav .nav-inline li a{padding: 5px 21px;}
}
/*banner*/
.banner{border-top: 1px solid #d7d7d7;margin-top: 14px}
.banner .carousel div{height: 420px;background-position: center;}