/*common*/
@media (min-width: 1200px){
	.line-big {margin-left: -15px;margin-right: -15px;}
	.line-big .x1, .line-big .x2, .line-big .x3, .line-big .x4, .line-big .x5, .line-big .x6, .line-big .x7, .line-big .x8, .line-big .x9, .line-big .x10, .line-big .x11, .line-big .x12, .line-big .xl1, .line-big .xl2, .line-big .xl3, .line-big .xl4, .line-big .xl5, .line-big .xl6, .line-big .xl7, .line-big .xl8, .line-big .xl9, .line-big .xl10, .line-big .xl11, .line-big .xl12, .line-big .xs1, .line-big .xs2, .line-big .xs3, .line-big .xs4, .line-big .xs5, .line-big .xs6, .line-big .xs7, .line-big .xs8, .line-big .xs9, .line-big .xs10, .line-big .xs11, .line-big .xs12, .line-big .xm1, .line-big .xm2, .line-big .xm3, .line-big .xm4, .line-big .xm5, .line-big .xm6, .line-big .xm7, .line-big .xm8, .line-big .xm9, .line-big .xm10, .line-big .xm11, .line-big .xm12, .line-big .xb1, .line-big .xb2, .line-big .xb3, .line-big .xb4, .line-big .xb5, .line-big .xb6, .line-big .xb7, .line-big .xb8, .line-big .xb9, .line-big .xb10, .line-big .xb11, .line-big .xb12 {position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
}
/*header*/
header .globe{padding: 0 18px 0 12px;}
header .search{display: inline-block;height: 49px;line-height: 49px;width: 82px;background-color: #ef011c;color: #fff}
@media (min-width: 760px){
	header .search{height: 40px;line-height: 40px;width: 82px;}
}

/*nav*/
.logo img{float: left;}
nav .icon-navicon{margin-top: 20px;}
nav .line{padding-top: 10px;}
@media (max-width:296px ){
	.logo .img2{display: none;}	
}
@media (max-width:450px ){
	.logo .img3{display: none;}	
}
@media (max-width:759px ){
	nav .nav-inline li{width: 50%;float: left;text-align: center;}
}
@media (max-width:999px) and (min-width: 760px){
	.logo .img3{display: none;}	
}
@media (min-width: 760px){
	nav.container{margin-top: -15px;}
	nav .nav-inline{text-align: right;margin: 26px -10px 0}
	nav .nav-inline li a {padding: 5px 10px;}
}
@media (min-width: 1000px){
	nav.container{margin-top: -19px;}
	nav .nav-inline{margin: 39px -13px 0;font-size: 16px;}
	nav .nav-inline li a {padding: 5px 13px;}
}
@media (min-width: 1200px){
	nav .nav-inline{margin: 39px -21px 0;font-size: 18px;}
	nav .nav-inline li a{padding: 5px 21px;}
}
/*footer*/
footer .fast-menu{height: 66px;background-color:#db1000;overflow: hidden;}
footer .fast-menu a{color: #fff;line-height: 66px}
footer .fast-menu .float-left a{margin-right: 5px}
footer .fast-menu .float-left a i{margin-right: 5px}
footer .fast-menu .float-right a{font-size: 18px;display: block;width: 270px;height: 66px;background-color: #f4502d;text-align: center;position: relative;}
footer .fast-menu .float-right a i{position: absolute;right: 38px}
footer .fast-menu .float-right{background-color:#da251d;padding-left: 52px}
@media (min-width: 760px){
	footer .fast-menu .float-left a{margin-right: 34px;font-size: 16px;}
}
@media (min-width: 1000px){
	footer .fast-menu .float-left a{margin-right: 64px}
}

footer .bottom-nav{background-color: #27343c;height: 327px}



footer .copycright{background-color: #171f23;height: 45px}
footer .copycright p{line-height: 45px;color: #a9b3b3}
footer .copycright a{color: #a9b3b3;padding-left: 5px}
footer .copycright a:hover{color: #fff}