body{overflow-x:hidden;width:100%}
@media (min-width:1200px){.line-big{margin-right:-15px;margin-left:-15px}
.line-big .x1,.line-big .x10,.line-big .x11,.line-big .x12,.line-big .x2,.line-big .x3,.line-big .x4,.line-big .x5,.line-big .x6,.line-big .x7,.line-big .x8,.line-big .x9,.line-big .xb1,.line-big .xb10,.line-big .xb11,.line-big .xb12,.line-big .xb2,.line-big .xb3,.line-big .xb4,.line-big .xb5,.line-big .xb6,.line-big .xb7,.line-big .xb8,.line-big .xb9,.line-big .xl1,.line-big .xl10,.line-big .xl11,.line-big .xl12,.line-big .xl2,.line-big .xl3,.line-big .xl4,.line-big .xl5,.line-big .xl6,.line-big .xl7,.line-big .xl8,.line-big .xl9,.line-big .xm1,.line-big .xm10,.line-big .xm11,.line-big .xm12,.line-big .xm2,.line-big .xm3,.line-big .xm4,.line-big .xm5,.line-big .xm6,.line-big .xm7,.line-big .xm8,.line-big .xm9,.line-big .xs1,.line-big .xs10,.line-big .xs11,.line-big .xs12,.line-big .xs2,.line-big .xs3,.line-big .xs4,.line-big .xs5,.line-big .xs6,.line-big .xs7,.line-big .xs8,.line-big .xs9{position:relative;padding-right:15px;padding-left:15px;min-height:1px}
}
.main,header,nav{background-color:#fff}
header .globe{padding:0 18px 0 9pt}
header .search{display:inline-block;width:82px;height:49px;background-color:#ef011c;color:#fff;line-height:49px}
@media (min-width:760px){header .search{width:82px;height:40px;line-height:40px}
}
.logo img{float:left}
nav .icon-navicon{margin-top:20px}
nav .line{padding-top:10px}
nav.container{padding-bottom:14px}
.about,.news,.product,.server,.solution{font-weight:bolder}
#about .about,#news .news,#product .product,#server .server,#solution .solution{color:#ef011c}
@media (max-width:296px){.logo .img2{display:none}
}
@media (max-width:460px){.logo .img3{display:none}
}
@media (max-width:759px){nav .nav-inline li{float:left;width:50%;text-align:center}
}
@media (max-width:999px) and (min-width:760px){.logo .img3{display:none}
}
@media (min-width:760px){nav.container{margin-top:-15px}
nav .nav-inline{margin:26px -10px 0;text-align:right}
nav .nav-inline li a{padding:5px 10px}
}
@media (min-width:1000px){nav.container{margin-top:-19px}
nav .nav-inline{margin:39px -13px 0;font-size:1pc}
nav .nav-inline li a{padding:5px 13px}
}
@media (min-width:1200px){nav .nav-inline{margin:39px -21px 0;font-size:18px}
nav .nav-inline li a{padding:5px 21px}
}
footer{font-size: 14px;}
footer .fast-menu{background-color:#db1000}
footer .fast-menu a{color:#fff;line-height:66px}
footer .fast-menu .float-left a,footer .fast-menu .float-left a i{margin-right:5px}
footer .fast-menu .float-right a{position:relative;display:block;width:270px;height:66px;background-color:#f4502d;text-align:center;font-size:18px}
footer .fast-menu .float-right a i{position:absolute;right:38px}
footer .fast-menu .float-right{padding-left:52px;background-color:#da251d}
footer .bottom-nav{background-color:#27343c;color:#a9b3b3}
,footer .bottom-nav .container{padding-top:25px}
footer .bottom-nav a{color:#a9b3b3}
footer .bottom-nav h3{padding:25px 0 9pt;border-bottom:1px dashed #a9b3b3;font-weight:700;font-size:18px}
.foot-product li a{display:block;padding:8px 0;border-bottom:1px dashed #a9b3b3}
.foot-addr p{margin:0;line-height:28px}
.foot-addr h3,.foot-tel h3{margin-bottom:17px}
.foot-social{padding:50px 0 22px}
.foot-social img{padding-bottom:6px}
.foot-tel li{padding-bottom:22px}
footer .copycright{background-color:#171f23}
footer .copycright p{margin:0;color:#a9b3b3;line-height:45px}
footer .copycright a{padding-left:5px;color:#a9b3b3}
footer .copycright a:hover{color:#fff}
@media (min-width:760px){footer .fast-menu .float-left a{margin-right:34px;font-size:1pc}
}
@media (min-width:1000px){footer .fast-menu .float-left a{margin-right:4pc}
footer .copycright{height:45px}
}
@media (min-width:1200px){.foot{position:fixed;bottom:0;left:0;z-index:-1;width:100%}
footer .fast-menu{overflow:hidden;margin-bottom:22pc;height:66px}
}
.social-share .icon-tencent:before{content:"\f1d5"}
.social-share .icon-wechat:before{content:"\f1d7"}
.social-share a{position:relative;display:inline-block;margin:4px;outline:0;text-decoration:none}
.social-share .social-share-icon{position:relative;display:inline-block;width:2pc;height:2pc;border:1px solid #666;border-radius:50%;color:#666;vertical-align:middle;text-align:center;font-size:20px;line-height:2pc;transition:background .6s ease-out 0s}
.social-share .social-share-icon:hover{background:#666;color:#fff}
.social-share .icon-weibo{border-color:#ff763b;color:#ff763b}
.social-share .icon-weibo:hover{background:#ff763b}
.social-share .icon-tencent{border-color:#56b6e7;color:#56b6e7}
.social-share .icon-tencent:hover{background:#56b6e7}
.social-share .icon-qq{border-color:#56b6e7;color:#56b6e7}
.social-share .icon-qq:hover{background:#56b6e7}
.social-share .icon-wechat{position:relative;border-color:#7bc549;color:#7bc549}
.social-share .icon-wechat:hover{background:#7bc549}
.social-share .icon-wechat .wechat-qrcode{position:absolute;top:-205px;left:-84px;z-index:9;display:none;width:200px;height:2in;border:1px solid #eee;background-color:#fff;box-shadow:0 2px 10px #aaa;color:#666;text-align:center;font-size:9pt;transition:all .2s;-webkit-tansition:all .35s}
.social-share .icon-wechat .wechat-qrcode.bottom{top:40px;left:-84px}
.social-share .icon-wechat .wechat-qrcode.bottom:after{display:none}
.social-share .icon-wechat .wechat-qrcode h4{margin:0;padding:0;height:26px;background-color:#f3f3f3;color:#777;font-weight:400;font-size:9pt;line-height:26px}
.social-share .icon-wechat .wechat-qrcode .qrcode{margin:10px auto;width:105px}
.social-share .icon-wechat .wechat-qrcode .qrcode table{margin:0!important}
.social-share .icon-wechat .wechat-qrcode .help p{margin:0;padding:0;font-weight:400;line-height:1pc}
.social-share .icon-wechat .wechat-qrcode:after{position:absolute;bottom:-13px;left:50%;margin-left:-6px;width:0;height:0;border-color:#fff transparent transparent;border-style:solid;border-width:8px 6px 6px;content:''}
.social-share .icon-wechat:hover .wechat-qrcode{display:block}
.social-share .social-share-icon:before{position:relative;bottom:1px}
@media (min-width:1000px) and (max-width:1199px){.social-share a.social-share-icon{width:28px;height:28px}
.social-share .social-share-icon:before{bottom:4px;font-size:18px}
}
.text-red{color:#d40000}
.img-scale{overflow:hidden;width:100%;height:100%}
.img-scale img,.img-scale:hover img{transition:all .8s ease 0s;-ms-transition:all .8s ease 0s}
.img-scale:hover img{transform:scale(1.1,1.1)}